
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #fe606e, #ffc271);
  font-family: 'Public Sans', sans-serif;
}


* {
  box-sizing: border-box;
}

.doubleButtonIncrease {
 border-radius: 20px !important;
 height: 100px !important;
}

.h1{
  font-size: 4.5rem;
  letter-spacing: 0.6rem;
  margin: 0;
  padding-right: 0.2rem;
  overflow-wrap: break-word;
  max-width: 18rem;
  min-height: 5.25rem;
}

.h2{
  margin: 0;
  padding-right: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  margin-top: 1rem;
  overflow-wrap: break-word;
  max-width: 18rem;
}