
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: red;
  font-family: 'Public Sans', sans-serif;
  
}


* {
  box-sizing: border-box;
}

.doubleButtonIncrease {
 border-radius: 20px !important;
 height: 100px !important;
}

.doubleButtonEqual:last-child{
  background-color: #fe7aa5 !important;
  width: 7rem !important;
  float: left;
  
  
}
