@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

#__next{
  display: flex;
  align-items: center;
  justify-content: center;
}

.background{
  background: linear-gradient(to bottom, #2c4969,#19253b);
  width: 19rem;
  height: 41rem;
  border-radius: 35px;
  color: white;
}

.containerUp{
  border: 1px greenyellow solid;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}


.h1{
  font-size: 4.5rem;
  letter-spacing: 0.6rem;
  margin: 0;
  padding-right: 0.2rem;
}

.h2{
  margin: 0;
  padding-right: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  margin-top: 1rem;
}

.conteinerDown{
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons{
  border: 1px solid yellow;
  display: flex;
  flex-direction: row;
}


