@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

#__next{
  display: flex;
  align-items: center;
  justify-content: center;
}

.background{
  background: linear-gradient(to bottom, #2c4969,#19253b);
  width: 19rem;
  height: 41rem;
  border-radius: 35px;
  color: white;
}

.containerUp{
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 2rem;
}


.h1{
  font-size: 4.5rem;
  letter-spacing: 0.6rem;
  margin: 0;
  padding-right: 0.2rem;
}

.h2{
  margin: 0;
  padding-right: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  margin-top: 1rem;
}

.conteinerDown{
  display: flex;
  flex-wrap: wrap;
  color: white;
  height: 47% !important;
}

.conteinerParenthesis{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 2.7rem;
}

.conteinerNumbers{
  padding: 0.8rem 0 0 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.1rem;
  row-gap: 1.3rem;
  height: 70% !important;
}

.conteinerOperationsSecond{
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap !important;
  height: 50% !important;
  width: 7rem;
}

.equalSign{
  background: linear-gradient(70deg, #fe7aa5, #f8358f 90%);
  width: 6rem !important;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  height: 2.5rem;
  align-items: center;
  font-size: 1.7rem;
}
