.numbers{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.5rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem; 
    background-color: rgba(255, 255, 255, 0);  
    border: none;
    color: white;
}

.numbers:hover{
    cursor: pointer;
    font-weight: bolder;
}