.operations{
    
    font-size: 1.5rem;
    background:linear-gradient(-30deg, #fe606e 30%, #feaa71, #fbbf70);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    width: 2.6rem;
    height: 2.6rem;
    
}

.operations:hover{
    background-color: aqua;
}

