.parenthesis{
    background-color: #1a2a43;
    font-size: 1.5rem;
    width: 7.7rem;
    border: 0;
    color: white;
    height: 2.5rem;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  